html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
  min-height: 100%;
  min-width: 100%;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

route-view {
  display: none;
}

/*! purgecss ignore */
route-view.loaded {
  display: block;
}
